*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none; 
}


@keyframes op{
    from{
        transform: scale(0.5);
        opacity: 10%;
    }
    to{
        transform: scale(1);
        opacity: 100%;
    }
}

body{
    width: 100vw;
    height: 100vh;
}
main>h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
}

.container-full{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: url(img/foto-fundo.jpg) no-repeat;
    background-size: cover; 
    background-position: 50% 60%;    */
    background-color: rgba(54, 54, 148, 0.822);
    animation-name: op;
    animation-duration: 2s;
    font-weight: 800;
}

.container-center{
    width: 1089px;
    height: 87%;
    border: solid 2px rgb(255, 255, 255);
    display: grid;
    grid-template-rows:auto 1fr;
    border-radius: 15px;
    /* background-color: rgba(152, 152, 246, 0.616); */
    background-color: rgb(190, 180, 243);
    animation-name: op;
    animation-duration: 1s;
}

.calc{    
    width: 100%;  
    border-bottom: solid 3px rgb(255, 255, 255);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc .calc-content{
    width: 80%;
    height: 50%;
    /* border: solid 1px black; */
    /* margin-top: 5%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.calc-content input{
    outline: none;
    /* border: solid 1px black; */
    background-color: beige;
    width: 23%;
    height: 60%;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 100vh;
    border: solid 2px rgb(0, 0, 122);
    animation-name: op;
    animation-duration: 3s;
}

.calc-content button{
    width: 20%;
    height: 60%;
    background-color: rgba(0, 0, 255, 0.473);
    color: white;
    border: solid 2px rgb(0, 0, 122);
    cursor: pointer;
    outline: none;
    font-size: 18px;
    border-radius: 100vh;
    width: 25%;
    font-weight: 800;
    animation-name: op;
    animation-duration: 3s;
}


.calc-content button:hover{
    border-color: rgb(255, 255, 255);
}

.info{
    width: 100%;    
    display: flex;    
}
input:focus::placeholder{
    color: transparent;
}

.info-imc{
    width: 50%;
    height: 100%;
    border-right: solid 3px rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}

.imc-title{
    width: 100%;
    height: 60px;
    /* border-bottom: solid 1px black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imc-title>h1{
    font-family: Arial, Helvetica, sans-serif;
}

.imc-result{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

input#result-imc{
    outline: none;
    width: 70%;
    height: 80%;
    text-align: center;
    font-size: 150px;
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(190, 180, 243);
    color: rgb(53, 52, 52);
}

.imc-footer{
    width: 100%;
    height: 50px;
    /* border-top: solid 1px black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imc-footer h2{
    font-family: Arial, Helvetica, sans-serif;
}




.img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img>img{
    width: 80%;
    height: 80%;
}
main p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:  300;
}